*{
    margin: 0;
}
.movies-container {
    padding: 20px;
    background-color: #141414;
    color: #fff;
}

.movies-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.movie-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#divseila {
    display: flex;
    justify-content: space-between;
}
#seach {
    height: 20px;
    width: 250px;
}